<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Articles</h1>
        <a href = "/add-article">Add Article</a>
        <ul>
            {{#each results}}
            <li>
                <span>{{articleId}}</span><br>
                <a href = "/articles/{{articleId}}">Veiw</a>
                <a href = "/edit-articles/{{articleId}}">Edit</a>
                <a href = "/delete-articles/{{articleId}}">Delete</a>
            </li>
            {{/each}}
        </ul>
    </body>
</html>