<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Edit Article</h1>
        <form action = "/article/edit" method = "POST">
            <label for="articleName">Name: </label>
            <input type = "text" name = "articleName" value = "{{articleName}}"><br>
            <label for="articleContent">Content: </label>
            <input type = "text" name = "articleContent" value = "{{articleContent}}"><br>
            <input type = "hidden" name = "articleId" value = "{{{articleNo}}}">
            <input type = "submit">
        </form>
        <a href = "/articles">All Articles</a>
    </body>
</html>