<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Article {{{articleNo}}} Updated</h1>
        <p>Name: {{{articleName}}}
            <br>
            Content: {{{articleContent}}}
            <br>
            Date Updated: {{{articleDate}}}
        </p>
        <a href = "/articles">All Articles</a>
    </body>
</html>